<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<body>
<nav th:fragment="topNavbar(area)" class="navbar bg-grey navbar-dark border-bottom border-light">

    <div class="container-fluid text-light">
        <div class="d-flex align-items-center">
            <a class="navbar-brand me-5" th:href="@{/photos}">Spring</a>

            <a class="nav-link me-2" th:classAppend="${area == 'photos' ? 'active' : ''}"
               th:href="@{/photos}">Photos
            </a>


            <a class="nav-link me-2" th:classAppend="${area == 'categories' ? 'active' : ''}"
               th:href="@{/categories}" sec:authorize="hasAnyAuthority('SUPERADMIN', 'ADMIN')">
                Categories
            </a>


            <a class="nav-link me-2" th:classAppend="${area == 'users' ? 'active' : ''}"
               th:href="@{/users}" sec:authorize="hasAnyAuthority('SUPERADMIN')">
                Users
            </a>


            <a class="nav-link me-2" th:classAppend="${area == 'messages' ? 'active' : ''}"
               th:href="@{/messages}" sec:authorize="hasAnyAuthority('SUPERADMIN', 'ADMIN')">
                Messages
            </a>
        </div >


        <button
            class="navbar-toggler text-light border-light"
            type="button"
            data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar" aria-label="Toggle navigation"
        >
            <span class="profile-name p-2" th:text="${firstName}"></span>
        </button>
        <div class="offcanvas offcanvas-end bg-dark text-light" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header bg-dark">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel"><span th:text="${firstName}"></span> <span th:text="${lastName}"></span></h5>
                <div class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item d-flex justify-content-end">
                        <a class="nav-link" th:classAppend="${area == 'logout' ? 'active' : ''}"
                           th:href="@{/logout}">Logout
                        </a>
                    </li>
                </div>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Profile</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>

</nav>
</body>
</html>